# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Python Package

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.7'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --target=./ -r requirements.txt
      

    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: "package-${{github.ref_name}}.zip"
        exclusions: '*.git*  .editorconfig'

    - name: Upload Release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: "package-${{github.ref_name}}.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
        allowUpdates: true
  #    run: python -m build
  #  - name: Publish package
  #    uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
 #     with:
 #       user: __token__
 #       password: ${{ secrets.PYPI_API_TOKEN }}
